body {
background-color: #FFCC66;

background-image: url("sputnik.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
background-position: right bottom;
}
h1 {
color: #black;
background-color: #FC9804;
}
li{
  color: #000000;
}
